.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: #F3F4F8;
}

.submit-btn{
  background: #7011DB;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px 32px;
  border: 1px solid #7011DB;
}

.custom-input{
  background: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* make placeholder grey */
  /* color: #9B9B9B; */
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  outline: none;
}

.simple-btn{
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 10px 32px;
}

.error-message{
  color: red;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
}