.full-question{
    background: #FFFFFF;
    border-radius: 24px;
    margin: 96px auto 24px auto;
    width: 60vw;
    padding: 32px;
}
.full-question .answers{
    margin-top: 8px;
}
.full-question .question-description{
    margin: 24px 0;
}